<app-header></app-header>

<div class="container my-5">

  <section *ngIf="section === 'dashboard'" class="mb-5">

  <div class="container mt-4">

  <h2 class="mb-4">Admin Dashboard</h2>

  <div class="row g-4">

    <div class="col-md-3">
      <div class="card shadow text-center">
        <div class="card-body">
          <h6>Total Orders</h6>
          <h3>{{ stats.total_orders }}</h3>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card shadow text-center">
        <div class="card-body">
          <h6>Total sellers</h6>
          <h3>{{ stats.total_sellers }}</h3>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card shadow text-center">
        <div class="card-body">
          <h6>Total Revenue</h6>
          <h3>₹ {{ stats.total_amount }}</h3>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card shadow text-center">
        <div class="card-body">
          <h6>Total Users</h6>
          <h3>{{ stats.total_customers }}</h3>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card shadow text-center">
        <div class="card-body">
          <h6>Total Products</h6>
          <h3>{{ stats.total_products }}</h3>
        </div>
      </div>
    </div>

  </div>
</div>




<div class="container mt-4">

  <h3 class="mb-3">Sales Analytics</h3>

<div *ngIf="section === 'dashboard'" style="height: 350px;">
  <canvas #revenueCanvas></canvas>
</div>

</div>

<div *ngIf="loading" class="text-center mt-4">
  <div class="spinner-border text-primary"></div>
</div>


</section>





  <!-- ================= CUSTOMER MANAGEMENT ================= -->
  <section *ngIf="section === 'customer-data'" class="mb-5">

    <h2 class="text-center mb-4">Customer Management</h2>

    <!-- Debug Info -->
    <!-- <p class="text-center text-danger fw-semibold">
      isLoggedIn: {{ isLoggedIn }} | role: {{ role }}
    </p> -->

    <div class="table-responsive soft-table-wrapper">
      <table class="soft-table">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Customer ID</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let customer of customers">
            <td>{{ customer.first_name }}</td>
            <td>{{ customer.last_name }}</td>
            <td>{{ customer.username }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.phone_number }}</td>
            <td>{{ customer.address }}</td>
            <td>{{ customer.customer_id }}</td>
            <td>
              <button
                class="btn btn-danger button-custom btn-sm"
                (click)="deletecustomers(customer.id)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    




  </section>


  <!-- ================= SELLER MANAGEMENT ================= -->
  <section *ngIf="section === 'seller-data'" class="mb-5">

    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="mb-0 text-center">Seller Management</h2>
 
      <button class="btn rounded btn-primary" (click)="addsellerView()">
        Add Seller
      </button>
    </div>

    <div class="table-responsive soft-table-wrapper">
      <table class=" soft-table">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Username</th>
            <th>Email</th>
            <th>Shop Name</th>
            <th>GST Number</th>
            <!-- <th>Status</th> -->
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let seller of sellers">
            <td>{{ seller?.first_name }}</td>
            <td>{{ seller?.last_name }}</td>
            <td>{{ seller?.username }}</td>
            <td>{{ seller?.email }}</td>
            <td>{{ seller?.shop_name }}</td>
            <td>{{ seller?.gst_number }}</td>

            <!-- <td>
              <span
                class="badge"
                [ngClass]="seller.is_approved ? 'bg-success' : 'bg-danger'">
                {{ seller.is_approved ? 'Approved' : 'Pending' }}
              </span>
            </td> -->

            <td>
              <!-- <tr>
              <button
                class="btn btn-primary button-custom  btn-sm me-2"
                (click)="approvesellers(seller.id)"
                [disabled]="seller.is_approved">
                Approve
              </button>
              </tr> -->
              
              <tr>
              <button
                class="btn btn-danger button-custom  btn-sm"
                (click)="deletesellers(seller.id)">
                Delete
              </button>
              </tr>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </section>


  
  <!-- ================= product MANAGEMENT ================= -->
  <section *ngIf="section === 'product-data'" class="mb-5">

  <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="mb-0 text-center">Products</h2>
    </div>

    <div class="table-responsive soft-table-wrapper" *ngIf="products.length > 0">
      <table class="soft-table">
        <thead>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Actions</th>

          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let product of products">
            <td>
              <img [src]="product.image ? product.image : '/assets/placeholder.png'" width="50">
            </td>
            <td>{{ product.name }}</td>
            <td>{{ product.short_description }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.stock > 0 ? product.stock : 'Out of stock' }}</td>
            <td>
  <tr>
  <span
    *ngIf="product.is_active"
    class="badge bg-success me-2">
    Approved
  </span>

  <button
    *ngIf="!product.is_active"
    class="btn btn-primary button-custom btn-sm me-2"
    (click)="productApprove(product.id)">
    Approve
  </button>

  </tr>


  <tr>

  <button
    class="btn btn-danger button-custom btn-sm"
    (click)="deleteProduct(product.id)">
    Delete
  </button>
  </tr>


            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <p *ngIf="products.length === 0" class="text-center mt-4">
      No products found. Click "Add Product" to create one.
    </p>


  </section>
</div>

<app-footer></app-footer>
