<app-header></app-header>

<div class="container my-5" *ngIf="!loading">

  <div class="row">
    <div class="col-md-5">
      <img [src]="product.image" class="img-fluid rounded shadow" alt="Product Image"/>
    </div>

    <div class="col-md-7">
      <h2 class="mb-3">{{ product.name }}</h2>

      <h4 class="text-success mb-3">
        ₹ {{ product.price }}
      </h4>
      <p>Price includes all taxes.</p>

      <p class="text-muted">
        {{ product.description }}
      </p>

      <ul class="list-unstyled mb-4">
        <li><strong>description:</strong> {{ product.short_description }}</li>
        <li><strong>Stock:</strong> {{ product.stock }}</li>
      </ul>

      <button
        class="btn rounded btn-primary btn-lg"
        (click)="addToCart()"
      >
        Add to Cart
      </button>
    </div>
  </div>

</div>

<app-footer></app-footer>
<div *ngIf="loading" class="text-center my-5">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
