

<nav class="navbar navbar-expand-lg bg-light p-3 border-bottom">
  <div class="container-fluid d-flex align-items-center justify-content-between">

    <!-- Logo -->
    <a class="navbar-brand  fs-4" routerLink="/">KAIRA</a>

    <div class="form-group d-flex search-wrapper">

  <input
    type="search"
    class="form-control border-0 border-bottom  search-input"
    placeholder=" 🔎︎ Search products..."
    [(ngModel)]="searchQuery"
    name="search"
    (keydown.enter)="onSearch($event)"
  />

  <i
    style="cursor:pointer"
    (click)="onSearch()"
  ></i>
</div>
 

    <ul class="navbar-nav d-flex align-items-center gap-4">

      <div class="offcanvas-body">
            <!-- Guest -->
            <ul class="navbar-nav justify-content-end flex-grow-1 gap-1 gap-md-5 pe-3" *ngIf="!isLoggedIn">
              <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/about">about</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/login">Sign In</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/register">Sign up</a></li>
            </ul>

            <!-- Admin -->
            <ul class="navbar-nav justify-content-end flex-grow-1 gap-1 gap-md-5 pe-3" *ngIf="isLoggedIn && role === 'admin'">
              <li class="nav-item"><a class="nav-link" routerLink="/"  >Home</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['/admin_h']" [queryParams]="{ section: 'dashboard' }"> Dashboard </a> </li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['/admin_h']" [queryParams]="{ section: 'customer-data' }"> Customer Data </a> </li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['/admin_h']" [queryParams]="{ section: 'seller-data' }"> Seller Data </a> </li>  
              <li class="nav-item"><a class="nav-link" [routerLink]="['/admin_h']" [queryParams]="{ section: 'product-data' }"> Product Data </a> </li>

              <li class="nav-item"><a class="nav-link" (click)="logout()">Logout</a></li>
            </ul>

            <!-- Seller -->
            <ul class="navbar-nav justify-content-end flex-grow-1 gap-1 gap-md-5 pe-3" *ngIf="isLoggedIn && role === 'seller'">
              <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['/seller_h']" [queryParams]="{ section1: 'profile' }"> profile </a> </li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['/seller_h']" [queryParams]="{ section1: 'edit-profile' }">  Edit </a> </li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['/seller_h']" [queryParams]="{ section1: 'products' }"> Products </a> </li>
              <li class="nav-item"><a class="nav-link" (click)="logout()">Logout</a></li>
            </ul>

            <!-- Customer -->
            <ul class="navbar-nav justify-content-end flex-grow-1 gap-1 gap-md-5 pe-3" *ngIf="isLoggedIn && role === 'customer'">
              <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/about">about</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['/customer_h']" [queryParams]="{ section2: 'cus-profile' }"> profile </a> </li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['/customer_h']" [queryParams]="{ section2: 'edit' }"> Edit </a> </li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['/customer_h']" [queryParams]="{ section2: 'orders' }">My orders </a> </li>

            </ul>
          </div>

      <ng-container *ngIf="isLoggedIn && role === 'customer'">
       <li class="position-relative">
          <a routerLink="/cart" class="text-uppercase mx-3 cart-wrapper">
             <span class="cart-icon">
             <img src="assets/images/onT.png" alt="Cart" width="24" height="24">
             </span>
             <span
      class="cart-badge badge bg-danger position-absolute translate-middle"
      *ngIf="(cartCount$ | async) as count"
    >
      {{ count }}
    </span></a>
        </li>

         <li class="nav-icon-item d-none d-lg-block" *ngIf="isLoggedIn">
  <a
    routerLink="/wishlist"
    class="wishlist-wrapper"
  >
    <img
      src="assets/images/wishlist.png"
      alt="Wishlist"
      width="24"
      height="24"
    />

    <span
      class="cart-badge badge bg-danger position-absolute translate-middle"
      *ngIf="(wishlistCount$ | async) as count"
    >
      {{ count }}
    </span>
  </a>
  
</li>
  <li class="nav-item"><a class="nav-link" (click)="logout()">Logout</a></li>


      </ng-container>
    </ul>
  </div>
</nav>
