<app-header></app-header>

<div class="container my-4">

  <div class="mb-3" *ngIf="searchTerm">
    <h5 class="text-muted">
      Showing results for: <strong>"{{ searchTerm }}"</strong>
    </h5>
  </div>

  <div class="row" *ngIf="products.length > 0; else noProducts">

    <div
      class="col-lg-3 col-md-4 col-sm-6 mb-4"
      *ngFor="let product of products"
    >
      <div class="card h-100 product-card">

      <a [routerLink]="['/item', product.id]">
        <img
          [src]="product.image"
          class="card-img-top"
          alt="{{ product.name }}"
        />
      </a>
      

        <div class="card-body text-center">
          <h6 class="card-title">{{ product.name }}</h6>
          <p class="text-muted mb-1">{{ product.category }}</p>
          <h5 class="fw-bold">₹{{ product.price }}</h5>
        </div>

        <!-- <div class="card-footer bg-white border-0 text-center">
          <button *ngif="usertype === 'customer'"
            class="btn btn-primary w-100 "
            (click)="addToCart(product.id)"
          >
            Add to Cart
          </button>
        </div> -->

      </div>
    </div>

  </div>

  <!-- No products template -->
  <ng-template #noProducts>
    <div class="text-center py-5">
      <h4>No products found</h4>
      <p class="text-muted">
        Try searching with a different keyword.
      </p>
    </div>
  </ng-template>

</div>

<app-footer></app-footer>